@import '../app/scss/variables';

.ticket {
    display: flex;
    flex-direction: column;
    position: relative;
    background: $white;
    box-shadow: $shadow;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    &--hide {
        position: absolute;
        visibility: hidden;
    }
    &--headers {
        color: $gray;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &:hover {
        box-shadow: $shadow-hover;
    }
}

.ticket-price {
    font-weight: bold;
    font-size: 1.8em;
    color: $blue;
    margin-bottom: 10px;
}

.ticket-carrier {
    position: absolute;
    top: 10px;
    right: 50px;
}

.ticket-segment {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    &_route {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &_duration {
        display: flex;
        flex-direction: column;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
    }
    &_stops {
        display: flex;
        flex-direction: column;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
    }
}
