@import 'variables';
@import '../../../../node_modules/antd/dist/antd.css';

html,
body {
    background: $background;
    font-family: sans-serif;
}

.app {
    margin: 50px auto;
    max-width: 960px;
    height: 100vh;
    color: $black;
}

.header {
    width: fit-content;
    margin: 0 auto;
}

.wrapper {
    @media (min-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
    @media (min-width: $tablet) {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
    }
}

.content {
    @media (min-width: $mobile) {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 0 auto;
    }
    @media (min-width: $tablet) {
        margin: 0;
        width: auto;
        display: flex;
        flex-direction: column;
    }
}
