@import "../../scss/variables";

.filters-container {
  @media (min-width: $mobile)  {
    width: 320px;
    margin: 20px auto;
  }
  @media (min-width: $tablet)  {
    margin: 0;
  }
  height: fit-content;
  padding: 20px;
  background: $white;
  color: $black;
  box-shadow: $shadow;
  border-radius: 5px;
}

.filters-header {
  font-weight: 600;
  text-transform: uppercase;
}

.filters-form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.filter-btn{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $blue;
    border-radius: 3px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.filter::before .filter-btn:checked {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter:hover::before .filter-btn:not(:disabled):not(:checked){
  border-color: #b3d7ff;
}

.filter-btn:not(:disabled):active .filter::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.filter-btn:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filter-btn:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.filter-btn:disabled+label::before {
  background-color: #e9ecef;
}