@import '~antd/dist/antd.css';
@import '../../scss/variables';

.items-container {
    flex-shrink: 0;
}

.show-more-btn {
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    background: $blue;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    box-shadow: $shadow;
    &:hover {
        background: $blue-hover;
        box-shadow: $shadow-hover;
    }
    &--disabled {
        background: $blue-hover;
        box-shadow: $shadow-hover;
    }
}
