//resolution
$mobile: 320px;
$tablet: 768px;
$desktop: 1120px;
$lg: 1400px;

// colors
$background: #e5e5e5;
$white: #fff;
$blue: #2196f3;
$black: #4a4a4a;
$gray: #a0b8b9;

// box-shadow
$shadow: 0.4em 0.4em 1em $gray;



